/* Flecha Popper */
[data-popper-arrow] {
    position: absolute;
    width: 8px;
    height: 8px;
}

[data-popper-arrow]::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    background: inherit;
    border: inherit;
    box-shadow: inherit;
}

/* El TIP recibe data-popper-placement; ajustamos por dirección */
[data-popper-placement^="top"]>[data-popper-arrow] {
    bottom: -4px;
}

[data-popper-placement^="bottom"]>[data-popper-arrow] {
    top: -4px;
}

[data-popper-placement^="left"]>[data-popper-arrow] {
    right: -4px;
}

[data-popper-placement^="right"]>[data-popper-arrow] {
    left: -4px;
}
